<!DOCTYPE html>
<html>
  <head>
    <title>Collision Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/screen.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Gamepad</h1>
    <%= code %>
    <script src="/assets/js/application.js"></script>
  </body>
</html>